/*
    Index
*/
.logo-full {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.spread {
    background-size: 100%;
}

video {
    margin-top: 1em;
}

.select-menu {
    display: block;
    width: 100%;
    height: 106px;
}

.select-menu li {
    display: block;
    list-style: none;
    line-height: 106px;
}

.control {
    position: fixed;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}
.control a {
    line-height: 100px;
    width: 100px;
}
.control a img {
    height: 100px;
    width: 100px;
}
.selector {
    margin-top: 100px;
}

.pulse-blue {
    color: #0090cd;
}

.pulse-lowercase {
    text-transform: capitalize;
}